/*@button module by shenli
  各种按钮，纯css实现，兼容较好
*/
.ui-btn{
    background: #222 url("http://bcs.duapp.com/webcdn/image%2Fbtn-overlay.png?sign=MBO:37605d0593028e53e3128f4dd3e3e64b:QnBHWqWp8Sls%2BuQvxTHOTwN1lto%3D") repeat-x 0 0;
    color: #fff!important;
    text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    overflow: visible;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font:700 14px verdana,Hiragino Sans GB;
    border-radius: 2px;
    padding: 0 20px;
}
.ui-btn:hover{background-color: #111;color: #fff;text-decoration: none;}
.ui-btn:active { -webkit-transform: translateY(1px); -moz-transform: translateY(1px); }
.small.ui-btn{ padding: 0 12px; line-height: 23px; height: 23px; font-size: 12px;}
.middle.ui-btn{ line-height: 29px; height: 29px;}
.large.ui-btn{ font-size:16px;line-height: 33px; height: 33px;}

.green.ui-btn { background-color: #91bd09; }
.green.ui-btn:hover { background-color: #749a02; }
.blue.ui-btn { background-color: #2daebf; }
.blue.ui-btn:hover { background-color: #007d9a; }
.red.ui-btn { background-color: #e33100; }
.red.ui-btn:hover { background-color: #872300; }
.magenta.ui-btn{ background-color: #a9014b; }
.magenta.ui-btn:hover { background-color: #630030; }
.orange.ui-btn { background-color: #ff5c00; }
.orange.ui-btn:hover { background-color: #d45500; }
.orangellow.ui-btn { background-color: #ffb515; }
.orangellow.ui-btn:hover { background-color: #fc9200; }
.white.ui-btn { background-color: #fff; border: 1px solid #ccc; color: #666 !important; font-weight: normal; text-shadow: 0 1px 1px rgba(255,255,255,1); }
.white.ui-btn:hover { background-color: #eee; }
/*Strike button*/
.strike.ui-btn  {background-color: #4ADFC1}
.strike.ui-btn:hover {background-color: #39ceb0}

/* Secondary ui-btns (perfect for Cancels or other secondary actions */
.secondary.ui-btn { background: #fff url("http://bcs.duapp.com/webcdn/image%2Fbtn-overlay.png?sign=MBO:37605d0593028e53e3128f4dd3e3e64b:QnBHWqWp8Sls%2BuQvxTHOTwN1lto%3D") repeat-x 0 0; color: #555 !important; text-shadow: 0 1px 1px rgba(255,255,255,0.5); border: 1px solid #bbb; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1); }
.secondary.ui-btn:hover { background-color: #eee; color: #444 !important; border-color: #999; }

/* Make the buttons super awesomer */
.super.ui-btn { background-image: url("http://bcs.duapp.com/webcdn/image%2Fbtn-overlay.png?sign=MBO:37605d0593028e53e3128f4dd3e3e64b:QnBHWqWp8Sls%2BuQvxTHOTwN1lto%3D"); font-size: 13px; padding: 0; border: 1px solid rgba(0,0,0,.25); -webkit-border-radius: 15px; -moz-border-radius: 15px; }
.super.ui-btn span { display: block; padding: 4px 15px 6px; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-top: 1px solid rgba(255,255,255,.2); line-height: 1; }
.small.super.ui-btn { font-size: 11px; -webkit-border-radius: 12px; -moz-border-radius: 12px; }
.small.super.ui-btn span { padding: 2px 12px 6px; -webkit-border-radius: 11px; -moz-border-radius: 11px; }
.small.white.super.ui-btn span { padding: 3px 12px 5px; }
.large.super.ui-btn { background-position: left bottom; -webkit-border-radius: 18px; -moz-border-radius: 18px; }
.large.super.ui-btn span { font-size: 14px; padding: 7px 20px 9px; -webkit-border-radius: 17px; -moz-border-radius: 17px; }
